<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842226897408-hnlf1i4urin58uqjht0jsck5u44o64pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842226897408-hnlf1i4urin58uqjht0jsck5u44o64pi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>842226897408-00d8j59vo3uepk7eih6i57fcvjon9ebj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCss5yK0zXjwiKhWCrZhcrD9bdbM9ACmiY</string>
	<key>GCM_SENDER_ID</key>
	<string>842226897408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickwork.chatapp</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-2f0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-2f0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842226897408:ios:9ea08d2276913fce86bee5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notification-2f0dc.firebaseio.com</string>
</dict>
</plist>